name: trading-bdd
on: [push, pull_request]
jobs:
  run:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { distribution: temurin, java-version: '17' }
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }
      - run: python -m venv .venv
      - run: .\.venv\Scripts\python.exe -m pip install --upgrade pip
        shell: cmd
      - run: .\.venv\Scripts\pip.exe install robotframework allure-robotframework robotremoteserver
        shell: cmd
      - run: mvn -q -DskipTests install
      - run: Start-Process -NoNewWindow -FilePath "cmd.exe" -ArgumentList "/c","start-server.bat"
        shell: powershell
      - run: Start-Sleep -Seconds 10
        shell: powershell
      - run: .venv\Scripts\robot.exe --variable REMOTE_HOST:127.0.0.1 --variable REMOTE_PORT:8270 -d tests-robot/logs tests-robot/run_feature_tests.robot
        shell: cmd
        continue-on-error: true
      - run: type tests-robot\logs\output.xml
        shell: cmd
        continue-on-error: true
      - run: dir tests-robot\logs
        shell: cmd
        continue-on-error: true
      - uses: actions/upload-artifact@v4
        with: { name: robot-and-allure, path: tests-robot/logs/** }

